@layer tokens {
    :where(:root, :host) {
  --colors-light-blue-50: hsl(210, 96%, 5%);
  --colors-light-blue-100: hsl(210, 96%, 10%);
  --colors-light-blue-200: hsl(210, 96%, 20%);
  --colors-light-blue-300: hsl(210, 96%, 30%);
  --colors-light-blue-400: hsl(210, 96%, 40%);
  --colors-light-blue-500: hsl(210, 96%, 60%);
  --colors-light-blue-600: hsl(210, 96%, 70%);
  --colors-light-blue-700: hsl(210, 96%, 80%);
  --colors-light-blue-800: hsl(210, 96%, 90%);
  --colors-light-blue-900: hsl(210, 96%, 95%);
  --colors-light-gray-25: hsl(208, 7%, 0%);
  --colors-light-gray-50: hsl(208, 7%, 6%);
  --colors-light-gray-100: hsl(208, 7%, 16%);
  --colors-light-gray-200: hsl(208, 7%, 26%);
  --colors-light-gray-300: hsl(208, 7%, 36%);
  --colors-light-gray-400: hsl(208, 7%, 42%);
  --colors-light-gray-500: hsl(208, 7%, 66%);
  --colors-light-gray-600: hsl(208, 7%, 76%);
  --colors-light-gray-700: hsl(208, 7%, 86%);
  --colors-light-gray-800: hsl(208, 7%, 96%);
  --colors-light-gray-900: hsl(208, 7%, 98%);
  --colors-light-red-50: hsl(347, 64%, 8%);
  --colors-light-red-100: hsl(347, 64%, 18%);
  --colors-light-red-200: hsl(347, 64%, 28%);
  --colors-light-red-300: hsl(347, 64%, 38%);
  --colors-light-red-400: hsl(347, 64%, 48%);
  --colors-light-red-500: hsl(347, 64%, 55%);
  --colors-light-red-600: hsl(347, 64%, 65%);
  --colors-light-red-700: hsl(347, 64%, 75%);
  --colors-light-red-800: hsl(347, 64%, 85%);
  --colors-light-red-900: hsl(347, 64%, 95%);
  --colors-light-orange-50: hsl(44, 100%, 6%);
  --colors-light-orange-100: hsl(44, 100%, 12%);
  --colors-light-orange-200: hsl(44, 100%, 17%);
  --colors-light-orange-300: hsl(44, 100%, 22%);
  --colors-light-orange-400: hsl(44, 100%, 27%);
  --colors-light-orange-500: hsl(44, 100%, 56%);
  --colors-light-orange-600: hsl(44, 100%, 66%);
  --colors-light-orange-700: hsl(44, 100%, 76%);
  --colors-light-orange-800: hsl(44, 100%, 86%);
  --colors-light-orange-900: hsl(44, 100%, 96%);
  --colors-light-green-50: hsl(126, 72%, 9%);
  --colors-light-green-100: hsl(126, 72%, 14%);
  --colors-light-green-200: hsl(126, 72%, 19%);
  --colors-light-green-300: hsl(126, 72%, 24%);
  --colors-light-green-400: hsl(126, 72%, 29%);
  --colors-light-green-500: hsl(126, 72%, 55%);
  --colors-light-green-600: hsl(126, 72%, 65%);
  --colors-light-green-700: hsl(126, 72%, 75%);
  --colors-light-green-800: hsl(126, 72%, 85%);
  --colors-light-green-900: hsl(126, 72%, 95%);
  --colors-dark-blue-50: hsl(210, 100%, 94%);
  --colors-dark-blue-100: hsl(210, 100%, 84%);
  --colors-dark-blue-200: hsl(210, 100%, 74%);
  --colors-dark-blue-300: hsl(210, 100%, 64%);
  --colors-dark-blue-400: hsl(210, 100%, 54%);
  --colors-dark-blue-500: hsl(210, 100%, 44%);
  --colors-dark-blue-600: hsl(210, 100%, 34%);
  --colors-dark-blue-700: hsl(210, 100%, 24%);
  --colors-dark-blue-800: hsl(210, 100%, 19%);
  --colors-dark-blue-900: hsl(210, 100%, 14%);
  --colors-dark-gray-25: hsl(208, 7%, 0%);
  --colors-dark-gray-50: hsl(208, 7%, 6%);
  --colors-dark-gray-100: hsl(208, 7%, 16%);
  --colors-dark-gray-200: hsl(208, 7%, 26%);
  --colors-dark-gray-300: hsl(208, 7%, 36%);
  --colors-dark-gray-400: hsl(208, 7%, 42%);
  --colors-dark-gray-500: hsl(208, 7%, 66%);
  --colors-dark-gray-600: hsl(208, 7%, 76%);
  --colors-dark-gray-700: hsl(208, 7%, 86%);
  --colors-dark-gray-800: hsl(208, 7%, 96%);
  --colors-dark-gray-900: hsl(208, 7%, 98%);
  --colors-dark-red-100: hsl(347, 64%, 92%);
  --colors-dark-red-200: hsl(347, 64%, 82%);
  --colors-dark-red-300: hsl(347, 64%, 72%);
  --colors-dark-red-400: hsl(347, 64%, 62%);
  --colors-dark-red-500: hsl(347, 64%, 55%);
  --colors-dark-red-600: hsl(347, 64%, 45%);
  --colors-dark-red-700: hsl(347, 64%, 35%);
  --colors-dark-red-800: hsl(347, 64%, 25%);
  --colors-dark-red-900: hsl(347, 64%, 15%);
  --colors-dark-orange-50: hsl(44, 100%, 92%);
  --colors-dark-orange-100: hsl(44, 100%, 82%);
  --colors-dark-orange-200: hsl(44, 100%, 72%);
  --colors-dark-orange-300: hsl(44, 100%, 62%);
  --colors-dark-orange-400: hsl(44, 100%, 52%);
  --colors-dark-orange-500: hsl(44, 100%, 45%);
  --colors-dark-orange-600: hsl(44, 100%, 39%);
  --colors-dark-orange-700: hsl(44, 100%, 29%);
  --colors-dark-orange-800: hsl(44, 100%, 19%);
  --colors-dark-orange-900: hsl(44, 100%, 9%);
  --colors-dark-green-50: hsl(126, 72%, 79%);
  --colors-dark-green-100: hsl(126, 72%, 69%);
  --colors-dark-green-200: hsl(126, 72%, 59%);
  --colors-dark-green-300: hsl(126, 72%, 49%);
  --colors-dark-green-400: hsl(126, 72%, 39%);
  --colors-dark-green-500: hsl(126, 72%, 30%);
  --colors-dark-green-600: hsl(126, 72%, 25%);
  --colors-dark-green-700: hsl(126, 72%, 20%);
  --colors-dark-green-800: hsl(126, 72%, 15%);
  --colors-dark-green-900: hsl(126, 72%, 9%);
  --sizes-2xs: 64px;
  --sizes-xs: 128px;
  --sizes-s: 192px;
  --sizes-m: 256px;
  --sizes-l: 320px;
  --sizes-xl: 384px;
  --sizes-breakpoint-sm: 640px;
  --sizes-breakpoint-md: 768px;
  --sizes-breakpoint-lg: 1024px;
  --sizes-breakpoint-xl: 1280px;
  --sizes-breakpoint-2xl: 1536px;
  --spacing-0: 0px;
  --spacing-3xs: 1px;
  --spacing-2xs: 2px;
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 64px;
  --fonts-sans: var(--font-montserrat);
  --fonts-serif: var(--font-lora);
  --fonts-mono: var(--font-fira-code);
  --font-sizes-4xl: 4rem;
  --font-sizes-3xl: 3rem;
  --font-sizes-2xl: 2.5rem;
  --font-sizes-xl: 2rem;
  --font-sizes-l: 1.75rem;
  --font-sizes-m: 1.5rem;
  --font-sizes-s: 1.375rem;
  --font-sizes-xs: 1.125rem;
  --font-sizes-2xs: 1rem;
  --font-sizes-3xs: 0.875rem;
  --font-sizes-4xs: 0.75rem;
  --font-weights-regular: 400;
  --font-weights-medium: 500;
  --font-weights-bold: 600;
  --letter-spacings-packed: -0.05em;
  --letter-spacings-narrow: -0.025em;
  --letter-spacings-wide: 0.1em;
  --line-heights-4xl: 5rem;
  --line-heights-3xl: 3.5rem;
  --line-heights-2xl: 3rem;
  --line-heights-xl: 2.5rem;
  --line-heights-l: 2.25rem;
  --line-heights-m: 2rem;
  --line-heights-s: 1.875rem;
  --line-heights-xs: 1.75rem;
  --line-heights-2xs: 1.5rem;
  --line-heights-3xs: 1.25rem;
  --line-heights-4xs: 1rem;
  --radii-circle: 50%;
  --radii-l: 32px;
  --radii-m: 16px;
  --radii-s: 8px;
  --radii-xs: 4px;
  --radii-none: 0px;
  --borders-primary-subtle: var(--spacing-3xs) solid var(--colors-primary-700);
  --borders-primary-regular: var(--spacing-2xs) solid var(--colors-primary-400);
  --borders-gray-subtle: var(--spacing-3xs) solid var(--colors-gray-700);
  --borders-gray-regular: var(--spacing-2xs) solid var(--colors-gray-700);
  --borders-danger-subtle: var(--spacing-3xs) solid var(--colors-danger-700);
  --borders-danger-regular: var(--spacing-2xs) solid var(--colors-danger-400);
  --borders-warning-subtle: var(--spacing-3xs) solid var(--colors-warning-700);
  --borders-warning-regular: var(--spacing-2xs) solid var(--colors-warning-400);
  --borders-success-subtle: var(--spacing-3xs) solid var(--colors-success-700);
  --borders-success-regular: var(--spacing-2xs) solid var(--colors-success-400);
  --shadows-light-neumorphism-closest: 1px 1px 2px #d5d5d5, -1px -1px 2px #ffffff;
  --shadows-light-neumorphism-closer: 2px 2px 4px #d5d5d5, -2px -2px 4px #ffffff;
  --shadows-light-neumorphism-close: 4px 4px 8px #d5d5d5, -4px -4px 8px #ffffff;
  --shadows-light-neumorphism-far: 8px 8px 16px #d5d5d5, -8px -8px 16px #ffffff;
  --shadows-light-neumorphism-farther: 12px 12px 24px #d5d5d5, -12px -12px 24px #ffffff;
  --shadows-dark-neumorphism-closest: 1px 1px 2px #0a0a0b, -1px -1px 2px #121415;
  --shadows-dark-neumorphism-closer: 2px 2px 4px #0a0a0b, -2px -2px 4px #121415;
  --shadows-dark-neumorphism-close: 4px 4px 8px #0a0a0b, -4px -4px 8px #121415;
  --shadows-dark-neumorphism-far: 8px 8px 16px #0a0a0b, -8px -8px 16px #121415;
  --shadows-dark-neumorphism-farther: 12px 12px 24px #0a0a0b, -12px -12px 24px #121415;
  --easings-linear: linear;
  --easings-ease-in: ease-in;
  --easings-ease-in-out: ease-in-out;
  --easings-ease-out: ease-out;
  --opacity-95: 0.95;
  --opacity-100: 1;
  --durations-fast: 150ms;
  --durations-natural: 250ms;
  --durations-slow: 500ms;
  --durations-slower: 750ms;
  --animations-spinning: spin var(--durations-slower) infinite var(--easings-linear);
  --animations-wobbling: wobble var(--durations-slower) 1 var(--easings-ease-in-out);
  --animations-bouncing: bounceIn var(--durations-slower) 1 var(--easings-ease-out);
  --animations-buzzing: buzz var(--durations-slower) 1 var(--easings-linear);
  --breakpoints-sm: 640px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;
  --breakpoints-xl: 1280px;
  --breakpoints-2xl: 1536px;
  --colors-primary-50: var(--colors-light-blue-50);
  --colors-primary-100: var(--colors-light-blue-100);
  --colors-primary-200: var(--colors-light-blue-200);
  --colors-primary-300: var(--colors-light-blue-300);
  --colors-primary-400: var(--colors-light-blue-400);
  --colors-primary-500: var(--colors-light-blue-500);
  --colors-primary-600: var(--colors-light-blue-600);
  --colors-primary-700: var(--colors-light-blue-700);
  --colors-primary-800: var(--colors-light-blue-800);
  --colors-primary-900: var(--colors-light-blue-900);
  --colors-gray-50: var(--colors-light-gray-50);
  --colors-gray-100: var(--colors-light-gray-100);
  --colors-gray-200: var(--colors-light-gray-200);
  --colors-gray-300: var(--colors-light-gray-300);
  --colors-gray-400: var(--colors-light-gray-400);
  --colors-gray-500: var(--colors-light-gray-500);
  --colors-gray-600: var(--colors-light-gray-600);
  --colors-gray-700: var(--colors-light-gray-700);
  --colors-gray-800: var(--colors-light-gray-800);
  --colors-gray-900: var(--colors-light-gray-900);
  --colors-danger-50: var(--colors-light-red-50);
  --colors-danger-100: var(--colors-light-red-100);
  --colors-danger-200: var(--colors-light-red-200);
  --colors-danger-300: var(--colors-light-red-300);
  --colors-danger-400: var(--colors-light-red-400);
  --colors-danger-500: var(--colors-light-red-500);
  --colors-danger-600: var(--colors-light-red-600);
  --colors-danger-700: var(--colors-light-red-700);
  --colors-danger-800: var(--colors-light-red-800);
  --colors-danger-900: var(--colors-light-red-900);
  --colors-warning-50: var(--colors-light-orange-50);
  --colors-warning-100: var(--colors-light-orange-100);
  --colors-warning-200: var(--colors-light-orange-200);
  --colors-warning-300: var(--colors-light-orange-300);
  --colors-warning-400: var(--colors-light-orange-400);
  --colors-warning-500: var(--colors-light-orange-500);
  --colors-warning-600: var(--colors-light-orange-600);
  --colors-warning-700: var(--colors-light-orange-700);
  --colors-warning-800: var(--colors-light-orange-800);
  --colors-warning-900: var(--colors-light-orange-900);
  --colors-success-50: var(--colors-light-green-50);
  --colors-success-100: var(--colors-light-green-100);
  --colors-success-200: var(--colors-light-green-200);
  --colors-success-300: var(--colors-light-green-300);
  --colors-success-400: var(--colors-light-green-400);
  --colors-success-500: var(--colors-light-green-500);
  --colors-success-600: var(--colors-light-green-600);
  --colors-success-700: var(--colors-light-green-700);
  --colors-success-800: var(--colors-light-green-800);
  --colors-success-900: var(--colors-light-green-900);
  --fonts-heading: var(--fonts-sans);
  --fonts-body: var(--fonts-serif);
  --fonts-code: var(--fonts-mono);
  --shadows-neumorphism-closest: var(--shadows-light-neumorphism-closest);
  --shadows-neumorphism-closer: var(--shadows-light-neumorphism-closer);
  --shadows-neumorphism-close: var(--shadows-light-neumorphism-close);
  --shadows-neumorphism-far: var(--shadows-light-neumorphism-far);
  --shadows-neumorphism-farther: var(--shadows-light-neumorphism-farther)
}

.dark {
  --colors-primary-50: var(--colors-dark-blue-50);
  --colors-primary-100: var(--colors-dark-blue-100);
  --colors-primary-200: var(--colors-dark-blue-200);
  --colors-primary-300: var(--colors-dark-blue-300);
  --colors-primary-400: var(--colors-dark-blue-400);
  --colors-primary-500: var(--colors-dark-blue-500);
  --colors-primary-600: var(--colors-dark-blue-600);
  --colors-primary-700: var(--colors-dark-blue-700);
  --colors-primary-800: var(--colors-dark-blue-800);
  --colors-primary-900: var(--colors-dark-blue-900);
  --colors-gray-50: var(--colors-dark-gray-50);
  --colors-gray-100: var(--colors-dark-gray-100);
  --colors-gray-200: var(--colors-dark-gray-200);
  --colors-gray-300: var(--colors-dark-gray-300);
  --colors-gray-400: var(--colors-dark-gray-400);
  --colors-gray-500: var(--colors-dark-gray-500);
  --colors-gray-600: var(--colors-dark-gray-600);
  --colors-gray-700: var(--colors-dark-gray-700);
  --colors-gray-800: var(--colors-dark-gray\,800);
  --colors-gray-900: var(--colors-dark-gray-900);
  --colors-danger-50: var(--colors-dark-red-50);
  --colors-danger-100: var(--colors-dark-red-100);
  --colors-danger-200: var(--colors-dark-red-200);
  --colors-danger-300: var(--colors-dark-red-300);
  --colors-danger-400: var(--colors-dark-red-400);
  --colors-danger-500: var(--colors-dark-red-500);
  --colors-danger-600: var(--colors-dark-red-600);
  --colors-danger-700: var(--colors-dark-red-700);
  --colors-danger-800: var(--colors-dark-red-800);
  --colors-danger-900: var(--colors-dark-red-900);
  --colors-warning-50: var(--colors-dark-orange-50);
  --colors-warning-100: var(--colors-dark-orange-100);
  --colors-warning-200: var(--colors-dark-orange-200);
  --colors-warning-300: var(--colors-dark-orange-300);
  --colors-warning-400: var(--colors-dark-orange-400);
  --colors-warning-500: var(--colors-dark-orange-500);
  --colors-warning-600: var(--colors-dark-orange-600);
  --colors-warning-700: var(--colors-dark-orange-700);
  --colors-warning-800: var(--colors-dark-orange-800);
  --colors-warning-900: var(--colors-dark-orange-900);
  --colors-success-50: var(--colors-dark-green-50);
  --colors-success-100: var(--colors-dark-green-100);
  --colors-success-200: var(--colors-dark-green-200);
  --colors-success-300: var(--colors-dark-green-300);
  --colors-success-400: var(--colors-dark-green-400);
  --colors-success-500: var(--colors-dark-green-500);
  --colors-success-600: var(--colors-dark-green-600);
  --colors-success-700: var(--colors-dark-green-700);
  --colors-success-800: var(--colors-dark-green-800);
  --colors-success-900: var(--colors-dark-green-900);
  --shadows-neumorphism-closest: var(--shadows-dark-neumorphism-closest);
  --shadows-neumorphism-closer: var(--shadows-dark-neumorphism-closer);
  --shadows-neumorphism-close: var(--shadows-dark-neumorphism-close);
  --shadows-neumorphism-far: var(--shadows-dark-neumorphism-far);
  --shadows-neumorphism-farther: var(--shadows-dark-neumorphism-farther)
}
  }
  