.dark {
  --color-primary-hue: 210;
  --color-primary-saturation: 100%;
  --color-primary: var(--color-primary-hue), var(--color-primary-saturation);
  --color-primary-100: hsl(var(--color-primary), 14%);
  --color-primary-90: hsl(var(--color-primary), 19%);
  --color-primary-80: hsl(var(--color-primary), 24%);
  --color-primary-70: hsl(var(--color-primary), 34%);
  --color-primary-60: hsl(var(--color-primary), 44%);
  --color-primary-base: hsl(var(--color-primary), 54%);
  --color-primary-40: hsl(var(--color-primary), 64%);
  --color-primary-30: hsl(var(--color-primary), 74%);
  --color-primary-20: hsl(var(--color-primary), 84%);
  --color-primary-10: hsl(var(--color-primary), 94%);

  --color-gray-hue: 208;
  --color-gray-saturation: 7%;
  --color-gray: var(--color-gray-hue), var(--color-gray-saturation);
  --color-gray-100: hsl(var(--color-gray), 6%);
  --color-gray-90: hsl(var(--color-gray), 13%);
  --color-gray-80: hsl(var(--color-gray), 26%);
  --color-gray-70: hsl(var(--color-gray), 36%);
  --color-gray-60: hsl(var(--color-gray), 46%);
  --color-gray-base: hsl(var(--color-gray), 58%);
  --color-gray-40: hsl(var(--color-gray), 66%);
  --color-gray-30: hsl(var(--color-gray), 76%);
  --color-gray-20: hsl(var(--color-gray), 86%);
  --color-gray-10: hsl(var(--color-gray), 96%);
  --color-gray-00: hsl(var(--color-gray), 100%);

  --color-background: var(--color-gray-100);

  --color-red-hue: 347;
  --color-red-saturation: 64%;
  --color-red: var(--color-red-hue), var(--color-red-saturation);
  --color-red-100: hsl(var(--color-red), 15%);
  --color-red-base: hsl(var(--color-red), 62%);

  --color-orange-hue: 44;
  --color-orange-saturation: 100%;
  --color-orange: var(--color-orange-hue), var(--color-orange-saturation);
  --color-orange-100: hsl(var(--color-orange), 9%);
  --color-orange-base: hsl(var(--color-orange), 52%);

  --color-green-hue: 126;
  --color-green-saturation: 72%;
  --color-green: var(--color-green-hue), var(--color-green-saturation);
  --color-green-100: hsl(var(--color-green), 9%);
  --color-green-base: hsl(var(--color-green), 39%);

  --shadow-depth-00: 1px 1px 2px #0a0a0b, -1px -1px 2px #121415;
  --shadow-depth-10: 2px 2px 4px #0a0a0b, -2px -2px 4px #121415;
  --shadow-depth-20: 4px 4px 8px #0a0a0b, -4px -4px 8px #121415;
  --shadow-depth-30: 8px 8px 16px #0a0a0b, -8px -8px 16px #121415;
  --shadow-depth-40: 12px 12px 24px #0a0a0b, -12px -12px 24px #121415;
}
