:root {
  --border-radius-00: 4px;
  --border-radius-10: 8px;
  --border-radius-20: 16px;
  --border-radius-30: 32px;

  --duration-immediate: 150ms;
  --duration-natural: 250ms;
  --duration-slow: 500ms;
  --duration-deliberate: 750ms;

  --font-fallback: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --font-family-heading: "Montserrat", var(--font-fallback);
  --font-family-body: "Lora", var(--font-fallback);
  --font-family-code: "Fira Code", monospace;

  --font-size-00: 0.75rem;
  --font-size-10: 0.875rem;
  --font-size-base: 1rem;
  --font-size-30: 1.125rem;
  --font-size-40: 1.375rem;
  --font-size-50: 1.5rem;
  --font-size-60: 1.75rem;
  --font-size-70: 2rem;
  --font-size-80: 2.5rem;
  --font-size-90: 3rem;
  --font-size-100: 4rem;

  --font-height-00: 1rem;
  --font-height-10: 1.25rem;
  --font-height-base: 1.5rem;
  --font-height-30: 1.75rem;
  --font-height-40: 1.875rem;
  --font-height-50: 2rem;
  --font-height-60: 2.25rem;
  --font-height-70: 2.5rem;
  --font-height-80: 3rem;
  --font-height-90: 3.5rem;
  --font-height-100: 5rem;

  --font-spacing-packed: -0.05em;
  --font-spacing-narrow: -0.025em;
  --font-spacing-wide: 0.1em;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  --line-length: 90ch;

  --space-00: 1px;
  --space-10: 2px;
  --space-20: 8px;
  --space-30: 16px;
  --space-40: 32px;
  --space-50: 64px;
  --space-60: 128px;
  --space-70: 256px;
  --space-80: 440px;
}
